.git
.github
.idea
.dccache
node_modules
coverage
app
/config

src/config/config.dev.ts
src/config/config.prod.ts

npm-debug.log*
.DS_Store

Dockerfile.dev
docker-compose*.yml
README.md
CONTRIBUTING.md
